<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Devices running Android 12L (API level 32) or lower  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <!-- To handle the reselection within the app on devices running Android 14
     or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_LAUNCH_BROADCASTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:name=".ui.MyApp"
        android:extractNativeLibs="false"
        android:allowBackup="true"
        android:configChanges="locale|orientation|screenSize|layoutDirection"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Awesa"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.forgotpassword.ResetPassActivity"
            android:exported="true" />
        <activity
            android:name=".ui.VerifyActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.teams.TeamsActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.league.LeagueActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.county.CountyActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.teams.OpponentTeamsActivity"
            android:exported="true">
        </activity>

    <activity
            android:name=".ui.recorder.CameraActivity"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
  <activity
            android:name=".ui.recorder.InterviewActivityNew"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".ui.recorder.VideoPreviewActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
    <activity
            android:name=".ui.recorder.TutorialActivity"
            android:exported="true"
            android:screenOrientation="landscape"/>
    <activity
            android:name=".ui.recorder.ProcessingActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.SupportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.matches.MatchDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.recorder.MatchOverviewActivity"
            android:exported="true" />

        <activity
            android:name="com.codersworld.awesalibs.mediapicker.ui.activity.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CustomSSImagePicker" />

        <service
            android:name=".services.TrimService"
            android:exported="false" />
        <service
            android:name=".services.VideoUploadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".services.VideoUploadJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="upside_down_cake" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".services.MyBroadCastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
